* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  transition: all 0.3s;
}

 :root {
  --bg-color: #f1f5f9;
  --border-color: #aaa;
  --font-color: #212529;
  --primary-color: #26834a;
}

  html[theme="dark"] {
    --bg-color: rgb(36, 34, 34);
  --border-color: #666;
  --font-color: #f1f5f9;
  --primary-color: #4dff91;
  --error-color: #ff0043;
  }

main {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: "Poppins", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  min-height: 100vh;
}

.switch {
  border-radius: 30px;
  background-color: var(--font-color);
  width: 120px;
  padding: 5px;
}

#themeSwitcher {
  background-color: var(--bg-color);
  color: var(--font-color);
  cursor:pointer;
  border-radius: 50%;
  padding: 20px;
  transition: all 0.5s linear;
}

.right {
  transform: translateX(160%);
}

